body {
    background-color: azure;
}

/* index page only */
#splash {
    width: 100%;
    height: 100%;
}

#splash-logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}

/* all main pages */
#logo {
    width: 200px;
    float: left;
}

nav ul {
    text-align: center;
}

#header {
    margin: 30px;
}

#header nav ul {
    text-align: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 18px;
    /*text-transform: uppercase;*/
    font-family: 'ZCOOL QingKe HuangYou', 'helvetica', 'sans-serif';
    font-size: 15pt;
    text-align: center;
}

nav ul li a {
    color: #531d17;
    text-decoration: none;
    padding-bottom: 4px;
}

nav ul li a:hover {
    border-bottom: 3px solid #039dcd;
}

iframe {
    display: block;
}